 body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    background: black;
    justify-content: flex-start;
}

 button {
    background: orange;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border: 20px;
    padding: 10px;
    transition-duration: .10s;
    justify-content: center;
}

.hide{ 
    display: none;
}

header {
     text-align: center;
}

.header {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    color: orange;
}   

.timer {
    float: right;
    padding: 20px;
    margin: 20px;
    color: orange;
}

.timer-count {
    float: right;
}

 #start-block p {
    color: orange;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 15px;
}
/* 
#main-game {
    display: none;
}

#main-game.show {
    display: block;
} */

#start-screen.hide {
    display: none;
}

.shippuden {
    justify-content: center;
    padding: 40px;
}